<?xml version="1.0" encoding="UTF-8"?>
<GUI virtualw="1000" virtualh="1000" font="fonts/xolonium.ttf" visible="false"
     buttonnormal="textures/buttonnorm.png"
     buttonpressed="textures/buttonpressed.png"
     buttonhover="textures/buttonhover.png"
     gutternormal="textures/buttonnorm.png"
     gutterpressed="textures/buttonnorm.png"
     gutterhover="textures/buttonnorm.png"
     slidernormal="textures/sliderbuttonnorm.png"
     sliderpressed="textures/sliderbuttonnorm.png"
     sliderhover="textures/sliderbuttonnorm.png"
     bgnormal="textures/buttonnormsquare.png"
     bgpressed="textures/buttonnormsquare.png"
     bghover="textures/buttonnormsquare.png"
     cursornormal="textures/sliderbuttonnorm.png"
     leftclicksound="sounds/click.ogg">
   <Label x="0" y="0" width="1000" height="1000" normal="textures/menubg.png"/>

   <Label x="400" y="50" width="200" height="50" text="Settings" readonly="true" xmargin="0" ymargin="0" align="center" normal="textures/labelclear.png"/>

   <TabWidget x="100" y="110" width="800" height="800" text="">
      <Tab text="Graphics" buttonwidth="120"
           buttonnormal="textures/buttonnorm.png"
           buttonpressed="textures/buttonpressed.png"
           buttonhover="textures/buttonhover.png"
           normal="textures/buttonnormsquare.png">

         <Layout x="0" y="0" padding="20" xmargin="20" ymargin="20" orientation="horizontal">
            <Layout padding="10">
               <Label x="0" y="0" width="180" height="30" text="Particles" normal="textures/labelclear.png"/>
               <Label x="0" y="0" width="200" height="25" text="Particle Update Freq" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="partupdintslider" min="0" max="10">
                     <Label x="190" y="0" width="50" height="25" name="partupdintslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
               <Label x="0" y="0" width="200" height="25" text="Particle Count" normal="textures/labelclear.png" >
                  <Slider x="0" y="25" width="180" height="30" name="partcountslider" min="0" max="10000">
                     <Label x="190" y="0" width="50" height="25" name="partcountslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
            </Layout>

            <Layout padding="10">
               <Label x="0" y="0" width="180" height="30" text="View Distances" normal="textures/labelclear.png"/>
               <Label x="0" y="0" width="200" height="25" text="Max Draw" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="viewdistslider" min="100" max="20000">
                     <Label x="190" y="0" width="50" height="25" name="viewdistslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
               <Label x="0" y="0" width="200" height="25" text="Impostor Multiplier" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="impdistslider" min="1" max="100">
                     <Label x="190" y="0" width="50" height="25" name="impdistslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
            </Layout>

            <Layout padding="10">
               <Label x="0" y="0" width="180" height="30" text="Grass" normal="textures/labelclear.png"/>
               <Label x="0" y="0" width="200" height="25" text="Grass Density" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="grassdensityslider" min="0" max="100">
                     <Label x="190" y="0" width="50" height="25" name="grassdensityslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
               <Label x="0" y="0" width="200" height="25" text="Grass Distance" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="grassdistslider" min="0" max="20000">
                     <Label x="190" y="0" width="50" height="25" name="grassdistslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
            </Layout>
         </Layout>

         <Layout x="10" y="400" padding="10" xmargin="10" orientation="horizontal">
            <Layout padding="10">
               <Label x="0" y="0" width="180" height="30" text="Rendering" normal="textures/labelclear.png" />
               <ComboBox x="0" y="50" width="180" height="30" name="resolutionbox"
                           normal="textures/dropnorm.png"
                           pressed="textures/droppressed.png"
                           hover="textures/drophover.png"/>
               <Button x="0" y="100" width="180" height="30" text="Fullscreen" toggle="true" name="fullscreenbutton"
                     normal="textures/buttonnorm.png"
                     pressed="textures/buttonpressed.png"
                     hover="textures/buttonhover.png"/>
               <Button x="0" y="150" width="180" height="30" text="Shadows" toggle="true" name="shadowsbutton"
                     normal="textures/buttonnorm.png"
                     pressed="textures/buttonpressed.png"
                     hover="textures/buttonhover.png"/>
               <Button x="0" y="200" width="180" height="30" text="Soft Shadows" toggle="true" name="softshadowsbutton"
                     normal="textures/buttonnorm.png"
                     pressed="textures/buttonpressed.png"
                     hover="textures/buttonhover.png"/>
               <Button x="0" y="250" width="180" height="30" text="Reflection" toggle="true" name="reflectionbutton"
                     normal="textures/buttonnorm.png"
                     pressed="textures/buttonpressed.png"
                     hover="textures/buttonhover.png"/>
            </Layout>

            <Layout padding="10">
               <Label width="80" height="30" text="AA" normal="textures/labelclear.png">
                  <ComboBox x="80" y="0" width="50" height="30" name="aabox"
                           normal="textures/dropnorm.png"
                           pressed="textures/droppressed.png"
                           hover="textures/drophover.png">
                     <ComboBoxItem>0</ComboBoxItem>
                     <ComboBoxItem>2</ComboBoxItem>
                     <ComboBoxItem>4</ComboBoxItem>
                     <ComboBoxItem>8</ComboBoxItem>
                     <ComboBoxItem>16</ComboBoxItem>
                  </ComboBox>
               </Label>
               <Label width="80" height="30" text="AF" normal="textures/labelclear.png">
                  <ComboBox x="80" y="0" width="50" height="30" name="afbox"
                           normal="textures/dropnorm.png"
                           pressed="textures/droppressed.png"
                           hover="textures/drophover.png">
                     <ComboBoxItem>1</ComboBoxItem>
                     <ComboBoxItem>2</ComboBoxItem>
                     <ComboBoxItem>4</ComboBoxItem>
                     <ComboBoxItem>8</ComboBoxItem>
                     <ComboBoxItem>16</ComboBoxItem>
                  </ComboBox>
               </Label>
            </Layout>
         </Layout>
      </Tab>
      <Tab text="Sound" buttonwidth="120"
           buttonnormal="textures/buttonnorm.png"
           buttonpressed="textures/buttonpressed.png"
           buttonhover="textures/buttonhover.png"
           normal="textures/buttonnormsquare.png">
         <Layout x="0" y="0" padding="10" xmargin="20" ymargin="20">
            <Label x="0" y="0" width="180" height="30" text="Volume" normal="textures/labelclear.png"/>
            <Layout x="0" y="0" padding="10">
               <Label width="200" height="25" text="Music" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="musicvolslider" min="0" max="100">
                     <Label x="190" y="0" width="50" height="25" name="musicvolslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
               <Label width="200" height="25" text="Effects" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="effectsvolslider" min="0" max="100">
                     <Label x="190" y="0" width="50" height="25" name="effectsvolslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
            </Layout>
         </Layout>
      </Tab>
      <Tab text="Controls" buttonwidth="120"
           buttonnormal="textures/buttonnorm.png"
           buttonpressed="textures/buttonpressed.png"
           buttonhover="textures/buttonhover.png"
           normal="textures/buttonnormsquare.png">
         <Layout x="0" y="0" padding="20" xmargin="20" ymargin="20">
            <Layout x="10" y="10" padding="10">
               <Label x="0" y="0" width="200" height="25" text="Turn Smoothing" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="turnsmoothslider" min="1" max="100"
                        normal="textures/buttonnorm.png"
                        pressed="textures/buttonpressed.png"
                        hover="textures/buttonhover.png">
                     <Label x="190" y="0" width="50" height="25" name="turnsmoothslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>

               <Label x="0" y="0" width="200" height="25" text="Mouse Speed" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="mousespeedslider" min="1" max="1000"
                        normal="textures/buttonnorm.png"
                        pressed="textures/buttonpressed.png"
                        hover="textures/buttonhover.png">
                     <Label x="190" y="0" width="50" height="25" name="mousespeedslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>

               <Label x="0" y="0" width="200" height="25" text="Weapon Focus" normal="textures/labelclear.png">
                  <Slider x="0" y="25" width="180" height="30" name="weaponfocusslider" min="0" max="10000"
                        normal="textures/buttonnorm.png"
                        pressed="textures/buttonpressed.png"
                        hover="textures/buttonhover.png">
                     <Label x="190" y="0" width="50" height="25" name="weaponfocusslidervalue" normal="textures/label.png"/>
                  </Slider>
               </Label>
            </Layout>
            <Layout x="10" y="220" padding="10">
               <Label x="0" y="0" width="300" height="30" text="Key Bindings" normal="textures/labelclear.png"/>
               <Label x="0" y="0" width="300" height="30" text="Forward" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="forwardbutton" leftclick="bindforward"/>
               </Label>
               <Label x="0" y="0" width="300" height="30" text="Back" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="backbutton" leftclick="bindback"/>
               </Label>
               <Label x="0" y="0" width="300" height="30" text="Left" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="leftbutton" leftclick="bindleft"/>
               </Label>
               <Label x="0" y="0" width="300" height="30" text="Right" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="rightbutton" leftclick="bindright"/>
               </Label>
               <Label x="0" y="0" width="300" height="30" text="Loadout" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="loadoutbutton" leftclick="bindloadout"/>
               </Label>
               <Label width="300" height="30" text="Use Item" normal="textures/labelclear.png">
                  <Button x="300" y="0" width="30" height="30" name="useitembutton" leftclick="binduseitem"/>
               </Label>
            </Layout>
         </Layout>
      </Tab>
      <Tab text="Game" buttonwidth="100">
         <Label x="10" y="30" width="100" height="30" text="Name" normal="textures/labelclear.png"/>
         <LineEdit x="110" y="30" width="200" height="30" name="nameedit"
           normal="textures/textentry.png"
           pressed="textures/textentrypressed.png"
           hover="textures/textentryhover.png"/>
      </Tab>
      <Tab text="Test" buttonwidth="100"
           buttonnormal="textures/buttonnorm.png"
           buttonpressed="textures/buttonpressed.png"
           buttonhover="textures/buttonhover.png"
           normal="textures/buttonnormsquare.png">
         <ComboBox x="40" y="500" width="120" height="20" name="testcb" text="Test"
			normal="textures/dropnorm.png"
                        pressed="textures/droppressed.png"
                        hover="textures/drophover.png">
            <ComboBoxItem>Test</ComboBoxItem>
            <ComboBoxItem>They have weapons</ComboBoxItem>
            <ComboBoxItem>So what?</ComboBoxItem>
            <ComboBoxItem>****!</ComboBoxItem>
            <ComboBoxItem>28 Days</ComboBoxItem>
            <ComboBoxItem>Later</ComboBoxItem>
            <ComboBoxItem>Mutated</ComboBoxItem>
            <ComboBoxItem>Sheep</ComboBoxItem>
            <ComboBoxItem>Test</ComboBoxItem>
            <ComboBoxItem>They have weapons</ComboBoxItem>
            <ComboBoxItem>So what?</ComboBoxItem>
            <ComboBoxItem>****!</ComboBoxItem>
         </ComboBox>

         <LineEdit x="40" y="600" width="120" height="20" text="Some large amount of text that will overflow"/>

         <ScrollView x="400" y="10" width="100" height="100"
                     vnormal="textures/buttonnorm.png"
                     hnormal="textures/buttonnorm.png">
            <Button x="10" y="155" width="200" height="50" text="Back" align="center"
                    normal="textures/buttonnorm.png"
                    hover="textures/buttonhover.png"
                    pressed="textures/buttonpressed.png"
                    leftclick="showmain"/>
         </ScrollView>

         <TextArea x="10" y="100" width="200" height="100" name="testta"
                   normal="textures/buttonnormsquare.png"
                   vnormal="textures/buttonnormsquare.png">
            Some test textarea text.  Don't even need \n characters because it picks them up out of the XML automatically.  Cool:-)
         </TextArea>

         <Slider x="10" y="300" width="180" height="30" name="testslider" min="4" max="10" value="5"
                 normal="textures/buttonnorm.png"
                 pressed="textures/buttonpressed.png"
                 hover="textures/buttonhover.png">
            <Label x="180" y="0" width="100" height="30" name="testslidervalue"/>
         </Slider>

         <Slider x="300" y="10" width="30" height="180" name="testslidervert" min="4" max="6000" value="5" orientation="vertical"
                 normal="textures/buttonnorm.png"
                 pressed="textures/buttonpressed.png"
                 hover="textures/buttonhover.png">
            <Label x="0" y="180" width="100" height="30" name="testslidervertvalue"/>
         </Slider>

         <Button x="10" y="400" width="200" height="40" text="Toggle" name="testtogglebutton" xmargin="3" ymargin="6" align="center" toggle="true"
                 normal="textures/buttonnorm.png"
                 pressed="textures/buttonpressed.png"
                 hover="textures/buttonhover.png"/>

         <TabWidget x="300" y="300" width="250" height="300" name="testtw" text="">
            <Tab buttonwidth="100" text="Test Tab"
                 buttonnormal="textures/buttonnorm.png"
                 buttonpressed="textures/buttonpressed.png"
                 buttonhover="textures/buttonhover.png"
                 normal="textures/buttonnormsquare.png">
               <TextArea x="0" y="0" width="200" height="100" name="testta1"
                         normal="textures/buttonnormsquare.png">
                  Some test textarea text.  Don't even need \n characters because it picks them up out of the XML automatically.  Cool:-)
               </TextArea>
            </Tab>
            <Tab buttonwidth="110" text="Test Tab 1"
                 buttonnormal="textures/buttonnorm.png"
                 buttonpressed="textures/buttonpressed.png"
                 buttonhover="textures/buttonhover.png">
               <TextArea x="0" y="0" width="200" height="100" name="testta2"
                         normal="textures/buttonnormsquare.png">
                  Another text area
               </TextArea>
            </Tab>
            <Tab buttonwidth="110" text="Test Tab 2"
                 buttonnormal="textures/buttonnorm.png"
                 buttonpressed="textures/buttonpressed.png"
                 buttonhover="textures/buttonhover.png"/>
         </TabWidget>
      </Tab>
   </TabWidget>

   <Button x="100" y="925" width="200" height="50" text="Save" align="center"
           normal="textures/buttonnorm.png"
           hover="textures/buttonhover.png"
           pressed="textures/buttonpressed.png"
           leftclick="savesettings">
   </Button>
   <Button x="350" y="925" width="200" height="50" text="Back" align="center"
           normal="textures/buttonnorm.png"
           hover="textures/buttonhover.png"
           pressed="textures/buttonpressed.png"
           leftclick="showmain">
   </Button>
   <Label x="600" y="925" width="350" height="50" text="Some settings may require a restart" align="center"
          normal="textures/labelclear.png"/>

   <Label x="250" y="450" width="500" height="50" text="Press key to bind (esc to cancel)" name="bindmessage" visible="false"/>

   <!-- Label x="0" y="0" width="1000" height="1000" normal="textures/menuoverlay.png"/ -->
</GUI>
